{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}


<form action="" method="post" class="uk-form uk-form-horizontal">{% csrf_token %}
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}


<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<div class="uk-form-row">
    {{ form.old_password.errors }}
    {{ form.old_password.label_tag }}
    <div class="uk-form-controls">{{ form.old_password }}</div>
</div>

<div class="uk-form-row">
    {{ form.new_password1.errors }}
    {{ form.new_password1.label_tag }}
    <div class="uk-form-controls">{{ form.new_password1 }}</div>
    {% if form.new_password1.help_text %}
    <p class="help">{{ form.new_password1.help_text|safe }}</p>
    {% endif %}
</div>

<div class="uk-form-row">
    {{ form.new_password2.errors }}
    {{ form.new_password2.label_tag }}
    <div class="uk-form-controls">{{ form.new_password2 }}</div>
    {% if form.new_password2.help_text %}
    <p class="help">{{ form.new_password2.help_text|safe }}</p>
    {% endif %}
</div>

<div class="uk-form-row">
    <div class="uk-form-controls">
        <input type="submit" value="{% trans 'Change my password' %}" class="uk-button" />
    </div>
</div>

</form>

{% endblock %}
