{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Nouveau sujet{% endblock %}
{% block content %}

<form action="" class="uk-form uk-form-horizontal" method="post">
    {{ form.media }}
    {% csrf_token %}
    <div class="uk-form-row">
        <label class="uk-form-label" for="">{{ form.title.label }}</label>
        <div class="uk-form-controls">{{ form.title }}</div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="">{{ form.body.label }}</label>
        <div class="uk-form-controls">{{ form.body }}</div>
    </div>
    <div class="uk-form-row">
        <div class="uk-form-controls"><input type="submit" value="Créer !" class="uk-button"/></div>
    </div>
</form>
{% endblock %}
