{% extends "base.html" %}
{% load order %}
{% block title %}Voir contrat {{contract.name}}{% endblock %}
{% block content %}
<div class="uk-grid">
    <div class="uk-width-1-1">
        <h1>Contrat [{{contract.name}}] avec {{contract.producer}} </h1>
        <div class="uk-overflow-container">
            <form class="uk-form">
                <table id="view" class="uk-table small">
                    <thead>
                        <tr>
                            <th>Foyer/Dates</th>
                            <th>Produits</th>
                            {% for date in contract.dates.all %}
                            <th>{{date.date|date:"d-m"}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="2">Produits</th>
                            {% for date in contract.dates.all %}
                            <th>{{date.date|date:"d-m"}}</th>
                            {% endfor %}
                        </tr>
                        {% for product in contract.producer.products.all %}
                        <tr>
                            <td colspan="2">TOTAL {{product}}</td>
                            {% for date in contract.dates.all %}
                            <td  class="sum" data-product="{{product.id}}" data-date="{{date.id}}"></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tfoot>
                    <tbody>
                        {% for member in members %}
                            {% for product in contract.producer.products.all %}
                                <tr class="data" data-member="{{member.id}}" data-product="{{product.id}}">
                                    <td>{% ifchanged %}{{member.family.name}}{% endifchanged %}</td>
                                    <td>{{product}}</td>
                                    {% for date in contract.dates.all %}
                                    <td class="target" data-member="{{member.id}}" data-product="{{product.id}}" data-date="{{date.id}}"/>{% get_order product member date %}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#view").freezeHeader();
        $("td.sum").each(function() {
            var product = $(this).attr('data-product');
            var date = $(this).attr('data-date');
            var total = 0;
            $("td.target[data-product="+product+"][data-date="+date+"]").each(function() {
                var value = $(this).text();
                if(!isNaN(value) && value.length!=0) {
                    total += parseFloat(value);
                }
            });
            $(this).text(total);
        });
    });
</script>

{% endblock %}
