{% extends "base.html" %}
{% block title %}Gérer contrat {{contract.name}} (TRESO){% endblock %}
{% block content %}
<div class="uk-grid">
    <div class="uk-width-3-4">
        <h1>Contrat [{{contract.name}}] avec {{contract.producer}} <a class="uk-icon-edit red" href="{% url 'delivery:contract_edit' contract.id %}" title="Gérer les livraisons"></a> | <a class="uk-icon-eye red" href="{% url 'delivery:contract_view' contract.id %}" title="Voir les livraisons"></a></h1>
        <form class="uk-form">
            <table class="uk-table">
                <caption>Ce tableau permet d'ajouter des familles au contrat, de visualiser le montant des chèques et de noter le statut.</caption>
                <thead>
                    <tr>
                        <th>Foyer</th>
                        <th>Montant calculé</th>
                        <th>Status</th>
                        <th>Montant encaissé</th>
                        <th>Commentaire</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        <tr class="data" data-family="{{member.family.id}}">
                            <td>{{member.family.name}}</td>
                            <td>{{member.computeAmount|floatformat:2}} &euro;</td>
                            <td>
                                <select class="target" name="status" data-member="{{member.id}}">
                                    {% for id,name in status.items %}
                                        <option value="{{id}}" {% if member.status == id %}selected="selected"{% endif %}>{{name}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="text" data-member="{{member.id}}" class="target" name="amount" value="{{member.amount|default_if_none:''}}"></td>
                            <td><input type="text" data-member="{{member.id}}" class="target" name="comment" value="{{member.comment|default_if_none:''}}" size="60"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    <div class="uk-width-1-4">
        <p>Ajouter des foyers au contrat:</p>
        <form action="{% url 'delivery:addfamilytocontract' contract.id %}" class="uk-form">
            <fieldset data-uk-margin>
                <select name="family">
                    {% for family in families %}
                    <option value="{{family.id}}">{{family.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Ajouter" class="uk-button"/>
                <a class="uk-icon-plus" href="#addnewfamily" title="Ajouter une nouvelle famille" data-uk-modal></a>
            </fieldset>
        </form>
    </div>
</div>

<div id="addnewfamily" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h2>Ajouter un foyer</h2>
        <form action="{% url 'delivery:contract_edit_account' contract.id %}" class="uk-form uk-form-stacked" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="uk-form-row">
                     <label class="uk-form-label">{{ field.label }}</label>
                    {% for error in field.errors %}
                    <div class="uk-alert uk-alert-warning" data-uk-alert>
                        <a href="" class="uk-alert-close uk-close"></a>
                        <p>{{ error }}</p>
                    </div>
                    {% endfor %}
                    <div class="uk-form-controls">
                        {{ field }}
                        {% if field.help_text %}
                            <span class="uk-form-help-inline"><i>{{ field.help_text|safe }}</i></span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="uk-form-row">
                <div class="uk-form-controls"><input type="submit" value="Ajouter" class="uk-button" /></div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    $(".target").change(function() {
        $id = $(this).attr('data-member');
        $status = $(".target[name=status][data-member="+$id+"]");
        $amount = $(".target[name=amount][data-member="+$id+"]");
        $comment = $(".target[name=comment][data-member="+$id+"]");
        $.ajax({
            method: "POST",
            url: "{% url 'delivery:setmembershipinfo' %}",
            data: {
                member: $id,
                status: $status.val(),
                amount: $amount.val(),
                comment: $comment.val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            context: $id,
            error: function(xhr, status, error) {
                //alert(xhr.responseText);
                alert("Erreur pendant la mise à jour. Retenter ou bien contacter un admin.");
                $(".target[data-member="+this+"]").attr('class', 'uk-form-danger');
            },
            success: function( msg ) {
                $(".target[data-member="+this+"]").attr('class', 'uk-form-success');
            },
        });
    });

    {% if request.method == "POST" %}
        UIkit.modal("#addnewfamily").show();
    {% endif %}
</script>

{% endblock %}
