{% extends "base.html" %}
{% load order %}
{% block title %}Gérer contrat {{contract.name}}{% endblock %}
{% block content %}
<div class="uk-grid">
    <div class="uk-width-4-6">
        <h1>Contrat [{{contract.name}}] avec {{contract.producer}} <a class="uk-icon-dollar red" href="{% url 'delivery:contract_edit_account' contract.id %}" title="Gérer les comptes"></a> | <a class="uk-icon-eye red" href="{% url 'delivery:contract_view' contract.id %}" title="Voir les livraisons"></a></h1>
    </div>
    <div class="uk-width-2-6">
        <div class="uk-float-right"><a class="uk-button" href="javascript:repeat()">Copier 1ere colonne</a></div>
    </div>
</div>
<div class="uk-grid">
    <div class="uk-width-1-1">
        <div class="uk-overflow-container">
            <form class="uk-form">
                <table id="edit" class="uk-table small">
                    <caption>Ce tableau permet de rentrer les quantités souhaitées pour chaque produit et chaque foyer à chaque date du contrat (cliquez sur la petite icône <i class="uk-icon-user"></i> pour afficher tous les produits pour le foyer). N'oubliez pas de le valider. Les champs vides ou à 0 seront consideré comme sans livraison. Appuyez sur 'c' pour copier la valeur courante sur la fin de la ligne.</caption>
                    <thead>
                        <tr>
                            <th>Foyer/Dates</th>
                            <th>Produits</th>
                            {% for date in contract.dates.all %}
                            <th><a href="{% url 'delivery:detail' date.id %}">{{date.date|date:"d-m"}}</a></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tfoot>
                        {% for product in contract.producer.products.all %}
                        <tr>
                            <td colspan="2">TOTAL {{product}}</td>
                            {% for date in contract.dates.all %}
                            <td  class="sum" data-product="{{product.id}}" data-date="{{date.id}}"></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tfoot>
                    <tbody>
                        {% for member in members %}
                            {% for product in contract.producer.products.all %}
                                <tr class="data" data-type="{% ifchanged member.family.name %}header{%else%}data{% endifchanged %}" data-member="{{member.id}}" data-product="{{product.id}}">
                                    <td>{% ifchanged %}<i class="uk-icon-user" onclick="javascript:switchFamily({{member.id}})"></i> {{member.family.name}}{% endifchanged %}</td>
                                    <td>{{product}}</td>
                                    {% for date in contract.dates.all %}
                                    <td><input type="text" class="uk-form-width-mini target" data-member="{{member.id}}" data-product="{{product.id}}" data-date="{{date.id}}" value="{% get_order product member date %}"></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".target").change(function() {
        $.ajax({
            method: "POST",
            url: "{% url 'delivery:setorder' %}",
            data: {
                member: $(this).attr('data-member'),
                product: $(this).attr('data-product'),
                date: $(this).attr('data-date'),
                quantity: $(this).val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            context: this
        }).success(function( msg ) {
            $(this).toggleClass('uk-form-success');
        });

    });

    $(document).ready(function() {
        $("#edit").freezeHeader();
        // hide data rows
        $("tr[data-type='data']").hide();

        // compute sums
        computeSum();

        // handle c key to copy
        $("tr.data td input").keypress(function(event) {
          if ( event.which == 99 ) {
             event.preventDefault();
             var value = $(this).val();
             var member = $(this).attr('data-member');
             var product = $(this).attr('data-product');
             var date = parseInt($(this).attr('data-date'));
             $(this).nextAll().css( "background-color", "red" );
             $("input.target[data-product="+product+"][data-member="+member+"]").each(function() {
                 if($(this).val()!=value && parseInt($(this).attr('data-date'))>date) {
                     $(this).val(value);
                     $(this).trigger("change");
                 }
             });
          }
        });
    });

    // compute sum
    $(document).ajaxStop(function () {
        computeSum();
    });

    function computeSum() {
        $("td.sum").each(function() {
            var product = $(this).attr('data-product');
            var date = $(this).attr('data-date');
            var total = 0;
            $("input.target[data-product="+product+"][data-date="+date+"]").each(function() {
                var value = $(this).val();
                if(!isNaN(value) && value.length!=0) {
                    total += parseFloat(value);
                }
            });
            $(this).text(total);
        });

    }

    // show hide a family group
    function switchFamily(id) {
        $("tr[data-member="+id+"][data-type='data']").toggle();
    }

    // duplicate 1st column
    function repeat() {
        $("tr td:nth-child(3) input").each(function() {
            var value = $(this).val();
            var member = $(this).attr('data-member');
            var product = $(this).attr('data-product');
            $("input.target[data-product="+product+"][data-member="+member+"]").each(function() {
                if($(this).val()!=value) {
                    $(this).val(value);
                    $(this).trigger("change");
                }
            });
        });
    };


</script>

{% endblock %}
