{% extends "base.html" %}
{% block title %}Livraisons{% endblock %}
{% block content %}


<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        <div class="uk-grid">
            <div class="uk-width-1-6">
                <i class="uk-icon-cog uk-icon-large uk-text-primary"></i>
            </div>
            <div class="uk-width-5-6">
                <h2 class="uk-h3">Prochaines Livraisons</h2>
                <table class="uk-table">
                    <caption>Voici les prochaines livraisons, pensez à vous inscrire pour tenir les perm' ! (cliquez sur le 'plus' sur la ligne). Cliquez sur la date pour voir le détail d'une livraison.</caption>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Produits</th>
                            <th>Perm</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for delivery in deliveries %}
                        <tr>
                            <td><a href="{% url 'delivery:detail' delivery.id%}">{{delivery.date}}</a></td>
                            <td>{% for contract in delivery.contracts.all %}{{contract.producer.short_product_name}} {% endfor %}</td>
                            <td>{% for user in delivery.ref_users.all %}{{user}}{% endfor %}
                                <div class="uk-float-right">
                                {% if user in delivery.ref_users.all %}
                                    <a class="uk-icon-user-times red" href="{% url 'delivery:removeme' delivery.id %}" title="Enlevez moi!"></a>
                                {% else %}

                                    <a class="uk-icon-user-plus"  href="{% url 'delivery:addme' delivery.id %}" title="Ajoutez moi!"></a>
                                {% endif %}
                            </div>


                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="uk-width-medium-1-2">
        <div class="uk-grid">
            <div class="uk-width-1-6">
                <i class="uk-icon-ambulance uk-icon-large uk-text-primary"></i>
            </div>
            <div class="uk-width-5-6">
                <h2 class="uk-h3">Aide</h2>
                <p>Cette page est l'information centrale concernant l'AMAP. Elle vous permet de:</p>
                <ul>
                    <li><strong>Voir les prochaines distributions et les produits associés</strong>, et également voir les amapiens de permanence. Vous pouvez vous <strong>déclarer comme 'permanencier'</strong> juste en cliqant sur le petit bonhomme bleu en bout de ligne ! Le site envoie un mail quand personne est prévu quelques jours avant la distribution</li>
                    <li><strong>Voir les contrats à venir, et ceux auquels vous êtes inscrits</strong>. Pour s'inscrire c'est simple il faut identifier le référent du contrat et lui envoyer un mail (lien sur le nom de l'utilisateur) ou le contacter pendant une permanence.</li>
                    <li>Voir les derniers <strong>articles</strong> du blog (vous les recevez également par email)
                    
            </div>
        </div>
    </div>

</div>

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        <div class="uk-grid">
            <div class="uk-width-1-6">
                <i class="uk-icon-thumbs-o-up uk-icon-large uk-text-primary"></i>
            </div>
            <div class="uk-width-5-6">
                <h2 class="uk-h3">Contrats en cours et à venir</h2>
                <table class="uk-table">
                    <caption>Voici la liste des contrats en cours et à venir, avec les contacts pour pouvoir contacter le référent associé. C'est le moyen de se rajouter sur un contrat.</caption>
                    <thead>
                        <tr>
                            <th>Producteur</th>
                            <th>Contrat</th>
                            <th>Référent</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contract in contracts %}
                        <tr>
                            <td>{{contract.producer}}</a></td>
                            <td><a href="{% url 'delivery:contract_view' contract.id %}" title="Voir les livraisons">{{contract.name}}</a></td>
                            <td><a href="mailto:{{contract.producer.ref_user.email}}?subject=[AMAP a la noix]">{{contract.producer.ref_user}}</a>
                                <div class="uk-float-right">
                                    <a class="uk-icon-edit red" href="{% url 'delivery:contract_edit' contract.id %}" title="Gérer les livraisons"></a>
                                    <a class="uk-icon-dollar red" href="{% url 'delivery:contract_edit_account' contract.id %}" title="Gérer les comptes"></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="uk-width-medium-1-2">
        <div class="uk-grid">
            <div class="uk-width-1-6">
                <i class="uk-icon-globe uk-icon-large uk-text-primary"></i>
            </div>
            <div class="uk-width-5-6">
                <h2 class="uk-h3">Mes contrats en cours</h2>
                <table class="uk-table">
                    <caption>Je fais partie actuellement des contrats suivants :</caption>
                    <thead>
                        <tr>
                            <th>Producteur</th>
                            <th>Contrat</th>
                            <th>Référent</th>
                            <th>Montant</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                        <tr>
                            <td>{{member.contract.producer}}</a></td>
                            <td>{{member.contract.name}}</td>
                            <td><a href="mailto:{{contract.producer.ref_user.email}}?subject=[AMAP a la noix]">{{member.contract.producer.ref_user}}</a>
                            </td>
                            <td>{{member.computeAmount|floatformat:2}} &euro;</td>
                            <td style="background-color: {{member.statusColor}};">{{member.statusName}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        <div class="uk-grid">
            <div class="uk-width-1-6">
                <i class="uk-icon-dashboard uk-icon-large uk-text-primary"></i>
            </div>
            <div class="uk-width-5-6">
                <h2 class="uk-h3">Baromètre permanences</h2>
                <table class="uk-table">
                    <caption>Un petit état de vos permanences ; l'idée c'est que chaque foyer réalise 2 permanences par an minimum. Votre foyer s'appelle '{{family}}'</caption>
                    <thead>
                        <tr>
                            <th>Année</th>
                            <th>Ratio de présence (j)</th>
                            <th>Nombre de perm minimum</th>
                            <th>Nombre de perm réalisées ou planifiées</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for perm in perms %}
                        <tr style="background-color: {{perm.color}}">
                            <td>{{perm.year}}</a></td>
                            <td>{{perm.ratio}}</td>
                            <td>{{perm.min|floatformat}}</td>
                            <td>{{perm.value}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="uk-width-medium-1-2">
        <div class="uk-grid">
            <div class="uk-width-1-6">
                <i class="uk-icon-comments uk-icon-large uk-text-primary"></i>
            </div>
            <div class="uk-width-5-6">
                <h2 class="uk-h3">Les dernières infos</h2>
                    <ul>
                        {% for entry in entries %}
                        <li><a href="{{entry.get_absolute_url}}">{{entry.title}}</a> [par {{entry.author}}] le {{entry.publication_date}}</li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
